.Block {
  display: grid;
  width: 100%;
}
.BlockLaunched {
  display: grid;

  grid-template-rows: 40% 20% 10%;
  grid-gap: 5px;
  background-color: #f0f2f2;

  padding: 0;
}
.BlockLaunched > p {
  text-align: center;
  width: 75%;
  margin: auto;
}
.title {
  font-size: 40px;
}

/* a{
    display: grid;
    width: 100%;
    margin: 0 auto;
   
    
    text-align: center;

} */
.btnCheck {
  background-color: #003b70;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  padding: 15px;

  font-weight: 900;

  font-size: 14pt;
  align-self: center;
}

.imgHp img {
  width: 100%;

  height: 640px;

  object-fit: cover;
}

/* if prop type is small then ---- start */

.boxJoin {
  display: grid;
  height: 190px;
  width: 100%;
  grid-template-rows: 50% 35% 10%;

  text-align: center;

  background-color: #f4f4f4;
  padding: 13.33px 10px;
  box-shadow: 8px 8px 5px 0 rgba(85, 85, 85, 0.15);
}

.boxJoin > p {
  text-align: center;
}
.boxJoin .title {
  color: #007ce0;
  font-family: ArsMaquette, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.1em;
  font-size: 1.8em;
}

.boxJoin a {
  display: grid;
  text-decoration: none;
  width: 80%;
  margin: 0 auto;

  text-align: center;
}
.btnCheck {
  padding: 15px 0px;

  width: 100%;

  font-size: 1.3rem !important;
  font-weight: 700;

  text-transform: uppercase;
  color: #fff;
  background: #00b5f2;
  border-radius: 0;
  width: 100%;
}

/* if prop type is small then ---- end */
