.SignNav {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  height: 60px;
}
.SignNav a {
  padding: 0.7em 1em;
  margin: 1em 0;
  height: auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.JoinNowBtn {
  border-radius: 5px;
  padding: 0.7em 1em;
  margin: 1em 0 !important;
  height: auto;
  text-align: center;

  color: #fff !important;
  font-weight: 700;
  background: -webkit-linear-gradient(top, #01f779, #01c460);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
