a{
  text-decoration: none;
}
.sec1 {
  height: 640px;

  background-image: url("../../assets/images/home/newhp-header.jpg");
  background-size: cover;
  background-position: 50%;
  background-position-y: 40%;
}
.LaunchedSec {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 640px;
  padding: 0;
}


/* sec 3  carousel */

.showcase {
  display: grid;
  grid-template-rows: 100px 530px 150px;
  text-align: center;
  background-size: cover;
  background-image: url(../../assets/images/home/blue-bubble-wallpaper.jpg);
}
.showcase .title{
    font-size: 2rem;
    line-height: 2.1rem;
    margin: 75px 0;   
    color: #007de0;        
    font-weight: 900!important;
}
.showcase h2{
  font-size: 2rem;
    line-height: 0.1rem;
    color: #007de0;   
    font-weight: 900!important;

}

/* workMethod  sec 4 */
.workMethodBanner {
  display: grid;
  margin: 0;
  height: 300px;
  background-image: url(../../assets/images/home/new-why-12wbt-will-work.jpg);
  background-size: cover;
}
.container {
  max-width: 1140px;
  min-width: 540px;
  margin: auto;
}
.workMethodBanner > h2 {
  letter-spacing: 0.01rem;
  font-weight: 900;
  font-size: 2em;

  text-align: center;
  margin-top: 100px;
  color: #fff;
}
.workMethodSec {
  background-color: #f4f4f4;
}
.workMethodBox {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 300px 300px 300px;

  grid-template-rows: 275px;
  grid-gap: 10px;

  padding: 10px;
  background-color: #f4f4f4;
}
.workMethodItem h3 {
  letter-spacing: 0.01rem;
  font-weight: 900 !important;
  font-size: 1.9rem;
  line-height: 2.1rem;
  color: #003b70;
  text-align: center;
}
.workMethodItem p {
  font-size: 1.2rem;
  color: #3c444d;
  font-weight: 300;
  margin: 0 0 1.2em;
  line-height: 1.6em;
}

/*      section 4444*/
.Programs {
  display: grid;
  max-width: 1140px;
  min-width: 540px;
  margin: 70px auto;
  justify-content: space-around;
  grid-template-columns: 30% 60%;

  grid-template-rows: 450px;
  grid-gap: 0px;

  padding: 10px;
  background-color: #fff;
}
.Programs h3 {
  font-size: 1.9rem;
  line-height: 2.1rem;
  color: #003b70;
  text-align: center;
  margin: 0.8em 0;
}

/*  section services ******/
.Services {
  display: grid;
  max-width: 1140px;
  min-width: 540px;
  margin: auto;
  text-align: center;
  justify-content: space-around;
  grid-template-columns: 100%;
  grid-template-rows: 50px 400px 170px;
  
}
.Services h2 {
    letter-spacing: .01rem;
    font-weight: 900;
    font-size: 2.4rem;
    margin: .5em 0;
    color: #003b70;


}

.btnItemSer {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 1.6rem;
  color: #fff;
  background: #01c460;
  margin-top: 80px;
  
}
.Services a{ 
  margin-top: 20px;
}


/*     social media sectionnn    */

.socialMediaSec {
  height: 130px;
  background-color: #f4f4f4;
}
/*join section */

.joinSec {
  height: 380px;
  background-image: url(../../assets/images/home/1millionkilosgroup-footer.jpg);
  background-size: cover;
  padding: 30px;
}
.joinContent {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 50% 30%;
  grid-template-rows: 300px;
  grid-gap: 10px;
  padding-top: 100px;
  max-width: 1140px;
  min-width: 540px;
  margin: auto;
}

.joinSec h3 {
  font-size: 1.9rem;
  line-height: 2.1rem;
  text-align: center;
  color: #fff;
  text-transform: none;
  font-weight: 900 !important;
  margin: 0.8em 0;
}
