.FooterSec{
    display: grid; 
    max-width: 1140px;
    margin: auto;
    justify-content: space-around;
    grid-template-columns: 20% 50% 20%;
    
    grid-template-rows: 80px 50px;
     grid-gap: 0px;
     
   
    padding: 10px;


}
.FooterSec p{
    color: #999;
    margin-top: 20px;
}
.FooterSec a{
    color: #3c444d;
    text-decoration: none;
    margin-bottom: 30px;
    
}
.FooterSec a:hover{
    color: #3c444d;
    text-decoration: underline;
    
    
}

.socialIcon{
    display: grid; 
    
    margin: auto;
    justify-content: space-around;
    grid-template-columns:repeat(5, [col] 50px );
    
    grid-template-rows: 35px 50px;
    
    
    
   

}
.socialIcon img{

    width: 30px;
    text-align: right;
}
.socialBoxText{
    grid-column: col / span 5;
    grid-row: row 0;
    text-align: right;
    margin-right: 20px;
   


}